




@{
    Layout = null;
    var strNumOne = "1";
    //var notExistsNum = 5 / (int.Parse(strNumOne) - 1);
}





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <p>Custom Cooke Entry</p>
</body>
</html>
